body{
	margin: 0px;
	padding: 0px;
}
div{
	position: absolute;
}
.hijo1{
	background-color: #2E2EFE;
	width: 400px;
	height: 400px;
}
.hijo2{
	background-color: #04B404;
	width: 200px;
	height: 200px;
	top: 100px;
	left: 100px;
}
.hijo3{
	background-color: #000000;
	width: 100px;
	height: 100px;
}