body{
	margin: 0px;
	padding: 0px;
}
.hijo1{
	background-color: #FE642E;
	width: 400px;
	height: 400px;
}
.hijo2{
	background-color: #8904B1;
	width: 200px;
	height: 200px;
	top: 100px;
	left: 100px;
	position: absolute;
}
.hijo3{
	background-color: #FFFF00;
	width: 100px;
	height: 100px;
	top: 100px;
	left: 100px;
	position: absolute;
}